body {
  margin: 0;
  font-family: Arial, sans-serif;
}

section {
  padding: 80px 20px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}